body{
    margin: 0px;
    padding: 0px;
    background-image: url('../images/backimage.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
}

.login1{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 500px;
    border-radius: 20px; 
    background: #CF6D6D;

}
.txt{
    font-size: 30px;
    font-weight: 700;
    margin-top: -100%;
    text-align: center;
    padding: auto;
}
/* #email{
   width: 250%;
   height: 50px;
   border-radius: 5px;
   border: 1px solid #000;
   background: #FFF;
}
#password{
    width: 250%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF;
} */
.div1{
    border: 1px solid blue;
    width: 100%;
}

/* .login{
    width: 53%;
    height: 500px;
    border-radius: 0px 20px 20px 0px;
    background: #CF6D6D;
    margin-left: 47%;
    position: sticky;
}

.login1{
    padding: 0;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 500px;
    border-radius: 20px; 
    background: #FFF;
}

.txt{
  
    

}
#email{
    width: 50%;
   height: 50px;
   border-radius: 5px;
   border: 1px solid #000;
   background: #FFF;
}
#password{
    width: 40%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF;
}
.div1{
    width: 200px;
    background-color: #8b2929;
    align-items: center;

}
.div2{
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;

}
.txt2{
   color: white;
   font-size: 20px;
   font-weight: bold;
} */